@media only screen and (min-device-width:1210px) {
.headbar {
    width: 101%;
    height:140px;
    background-color: #555;
    margin-right: 0px;
    margin-left: 0px;
}

.text {
    color: white;
    font-size: 20px;
    margin-top: 5px;

}

Body {
    margin-left: 0px;
    margin-top: 0px;
}

.Button {
  width: 300px;
  height: 120px;
  color: #fff;
  background-color: transparent;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  margin-right:0px;
  border-color: transparent;
}

.link {
    text-decoration: none;
    color: white;
}

#Name {
  width: 500px;
  height: 60px;
  color: white;
  background-color: #555;
  font-weight: bold;
  font-size: 30px;
  margin-top: 40px;
  margin-right:0px;
  border-color: transparent;

}
::placeholder{
    color: white;

}
#PhoneNumber {
  width: 500px;
  height: 80px;
  color: #fff;
  background-color: #555;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
  margin-right:0px;
  border-color: transparent;
}

#Email {
  width: 500px;
  height: 80px;
  color: #fff;
  background-color: #555;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
  margin-right:0px;
  border-color: transparent;
}

#Description{
  width: 800px;
  height: 150px;
  color: white;
  background-color: #555;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
  margin-right:0px;
  border-color: transparent;
}

#Submit{
  width: 500px;
  height: 150px;
  color: white;
  background-color: #555;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
  margin-right:0px;
  border-color: transparent;
}
}

@media only screen and (max-device-width:1209px) {
.headbar {
    width: 101%;
    height:140px;
    background-color: #555;
    margin-right: 0px;
    margin-left: 0px;
}

.text {
    color: white;
    font-size: 20px;
    margin-top: 5px;

}

Body {
    margin-left: 0px;
    margin-top: 0px;
}

.Button {
  width: 150px;
  height: 120px;
  color: #fff;
  background-color: transparent;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  margin-right:0px;
  border-color: transparent;
}

.link {
    text-decoration: none;
    color: white;
}

#Name {
  width: 500px;
  height: 60px;
  color: white;
  background-color: #555;
  font-weight: bold;
  font-size: 30px;
  margin-top: 40px;
  margin-right:0px;
  border-color: transparent;

}
::placeholder{
    color: white;

}
#PhoneNumber {
  width: 500px;
  height: 80px;
  color: #fff;
  background-color: #555;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
  margin-right:0px;
  border-color: transparent;
}

#Email {
  width: 500px;
  height: 80px;
  color: #fff;
  background-color: #555;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
  margin-right:0px;
  border-color: transparent;
}

#Description{
  width: 800px;
  height: 150px;
  color: white;
  background-color: #555;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
  margin-right:0px;
  border-color: transparent;
}

#Submit{
  width: 500px;
  height: 150px;
  color: white;
  background-color: #555;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
  margin-right:0px;
  border-color: transparent;
}
}