.Button {
  width: 200px;
  min-height: 120px;
  color: #fff;
  background-color: transparent;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  margin-right: 50px;
  border-color: transparent;
}

.headbar {

    width: 100.5%;
    min-height:140px;
    background-color: #555;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}

.link {
    text-decoration: none;
    color: white;
}

Body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    background-color: #727272;
    font-color: white;
}