.headbar {
    width: 101%;
    height:140px;
    background-color: #555;
    margin-right: 0px;
    margin-left: 0px;
}

.text {
    color: white;
    font-size: 20px;
    margin-top: 5px;

}

.Button {
  width: 300px;
  height: 120px;
  color: #fff;
  background-color: transparent;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  margin-right:0px;
  border-color: transparent;
}

.link {
    text-decoration: none;
    color: white;
}